<html>
<head>
	<meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />
  <link rel="stylesheet" href="template.css">
	<link rel="stylesheet" href="recording.css">
	<link rel="stylesheet" href="mySongs.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
</head>
<body>
	<nav id="nav-bar">
		<span class="logo"><span class="ha">Ha</span><span class="loaa">loaa</span><span class="exclamation">!</span></span>
		<ul id="nav-items">
			<!-- <li><a>Old Friends</a></li>
			<li><a>New Friends</a></li> -->
			<li class="pull-right"><a><i class="fa fa-bars"></i></a></li>
		</ul>
	</nav>
	<div id="main-page">
		<ul id="song-list">
			<li>
				Song
			</li>
			<li>
				Song
			</li>
			<li>
				Song
			</li>
			<li>
				Song
			</li>
		</ul>
	</div>
</body>
</html>
