<html>
<head>
	<meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />
  <link rel="stylesheet" href="template.css">
	<link rel="stylesheet" href="recording.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
</head>
<body>
	<nav id="nav-bar">
		<span class="logo"><span class="ha">Ha</span><span class="loaa">loaa</span><span class="exclamation">!</span></span>
		<ul id="nav-items">
			<!-- <li><a>Old Friends</a></li>
			<li><a>New Friends</a></li> -->
			<li class="pull-right"><a><i class="fa fa-music"></i></a></li>
		</ul>
	</nav>
	<div id="main-page">
		<div id="people" class="four people center">
			<span id="floating-exclamation"><span>REC</span></span>
			<div class="images">
				<div style="background-image: url(gal.jpg)"></div>
				<div style="background-image: url(dean.jpg)"></div>
				<div style="background-image: url(kfir.jpg)"></div>
				<div style="background-image: url(yaniv.jpg)"></div>
			</div>
		</div>
	</div>
</body>
</html>
